body
	padding-bottom 2rem
	
.hero-banner
	@media(max-width 34rem)
		height 120vh
	
	height 100vh
	background #6441A5; /* fallback for old browsers */
	background -webkit-linear-gradient(to left, #6441A5 , #2a0845); /* Chrome 10-25, Safari 5.1-6 */
	background linear-gradient(to left, #6441A5 , #2a0845); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	color #fff
	text-align center
	.btn
		margin 1em
	@media(min-width 34rem)
		.container
			margin-top 15rem
			.nice-phrase
				font-weight bold
				
			.share-story 
				font-weight 300
				margin 2rem 0 2rem 0
				
			.login_conventionally--link 
				color #fff
				border-bottom 2px solid #fff
				&:hover
					text-decoration none
			
.btn
	transition all .2s
	

@media(min-width 34rem)
	nav
		background: transparent !important
		top: 0
		position absolute !important
		width 100%